APP_NAME=FastAPI Blog API
APP_VERSION=1.0.0
DEBUG=True
HOST=0.0.0.0
PORT=8000
ROOT_PATH=/api/v1
ORIGINS=*
ACCESS_TOKEN_EXPIRE_MINUTES=30
AUTH_ALGORITHM=HS256

SECRET_AUTH_KEY=

POSTGRES_SCHEMA=blog
POSTGRES_HOST=postgres
POSTGRES_DB=blog
POSTGRES_PORT=5432
POSTGRES_USER=blog
POSTGRES_PASSWORD=blogpass
POSTGRES_RECONNECT_INTERVAL_SEC=1
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
LOG_FILE=/fastapi_db/logs/app.log
USER_ACTION_LOG_FILE=/fastapi_db/logs/user_actions.log
UPLOAD_DIR=/fastapi_db/uploads